body {
    background-color: #727272;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}

.col-title {
    padding: 40px 15px;
    background-color: rgb(73 69 65 / 25%);
    border-radius: 5px;
    color: white;
    font-family: Lato, sans-serif;
}

.title {
    font-family: Lato, sans-serif;
}

.intro {
    font-family: Lato, sans-serif;
    color: black;
    font-weight: 600;
    padding: 40px 15px;
    background-color: rgba(60, 80, 133, 0.25);
    border-radius: 5px;
}

p.display-5 {
    font-size: 35px;
}

.recent-recipe {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

.letter {
    color: orange;
}

.thin {
    font-weight: 300;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    display: flex;
    justify-content: left;
    margin: auto;
    padding-top: 10px;
    background-color:rgb(251, 241, 222);
    font-family: Lato, sans-serif;
}

.card-body h4 {
    text-decoration: underline;
}

.card-body h2 {
    text-align: center;
}

.card-text {
    color: black;
    font-family: Lato, sans-serif;
    font-size: 14px;
    position: center;
}

.card-title {
    color: black;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.recipes-content {
    margin: auto;
    font-family: Lato, sans-serif;
    background-color: rgb(251, 241, 222);
    color: rgb(0, 15, 49);
}

.signup {
    background-color: rgba(60, 80, 133, 0.25);
    padding: 25px 40px 40px 25px;
}

.login {
    background-color: rgba(60, 80, 133, 0.25);
    padding: 25px 40px 40px 25px;
}

.clean-image{
    background: no-repeat bottom center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.author {
    background-color: #580404;
    color: white;
    margin: 4px;
    font-size: 12px;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: rgb(255, 188, 62);
    color: white;
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 14px;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #bfd0e1;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #ecf2f8;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    color: white;
}

.post-subtitle {
    margin-left: 5%;
    color: rgb(255, 255, 255);
}

.btn {
    background-color: orange;
    color: #fff;
}

.btn:hover {
    background-color: rgb(250, 204, 120);
}

.btn-signup:hover,
.btn-signup:active {
    background-color: orange;
}

.link {
    color: #E84610;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #e69073;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-info {
    color: white;
    background-color: orange;
}

.alert {
    width: 60%;
}
